[user]
    name = lxyu
    email = lx.yu@ele.me
[color]
    ui = auto
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    last = log -1 HEAD
    unstage = reset HEAD --
[core]
    editor = vim
[push]
    default = current
