[color]
    ui = auto
[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    last = log -1 HEAD
    unstage = reset HEAD --
[core]
    editor = vim
[push]
    default = current
[rerere]
    enabled = 1
    autoupdate = 1
