[color]
    ui = auto
[alias]
    br = branch
    ci = commit
    co = checkout
    dsf = !"git diff --color $@ | diff-so-fancy"
    last = log -1 HEAD
    lg = !"git lg1"
    lg1 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    lg2 = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)' --abbrev-commit
    s = status --short --branch
    st = status
    unstage = reset HEAD --
[core]
    editor = vim
    safecrlf = true
[push]
    default = current
[rerere]
    enabled = 1
    autoupdate = 1
[help]
    autocorrect = 1
[pager]
    diff = diff-so-fancy | less --tabs=1,5 -RFX
    show = diff-so-fancy | less --tabs=1,5 -RFX
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[include]
    path = ~/.gitconfig.local
